body {
  height: 100%;
}

header {
  background-color: #B3770B;
}

h1 {
  margin: 0px;
}

nav {
  background-color: #FFD78C;
}

main {
  background-color: #FFFFFF;
}

article img {
  width: 300px;
}

.highlight {
  background-color: #A6CDFF;
}

footer {
  background-color: #B3770B;
}
